testing_data/*
*.json
*/*sandbox.py
__pycache__/
myenv/*
collections/daniel
sandbox/*
YOLO/clean_yolo_dataset/*
YOLO/data/*

.env
*.zip

# add examples but not testing outputs
.latest-pipeline-new-files
collections/*/examples/*
!collections/*/examples/raw.tar.gz
!collections/*/examples/pipeline-root.json
collections/data