testing_data/*
*.json
*/*sandbox.py
__pycache__/
myenv/*
collections/daniel

*.pth
.env

# add examples but not testing outputs
.latest-pipeline-new-files
collections/*/examples/*
!collections/*/examples/raw.tar.gz
!collections/*/examples/pipeline-root.json