testing_data/*
*.json
*/*sandbox.py
__pycache__/
myenv/*
collections/daniel
sandbox/*
YOLO/datasets/*

.env
*.zip
*.jpg
*.png
*.db

# add examples but not testing outputs
.latest-pipeline-new-files
old_cnn_code/collections/*/examples/*
!old_cnn_code/collections/*/examples/raw.tar.gz
!old_cnn_code/collections/*/examples/pipeline-root.json
old_cnn_code/collections/data